<nav>
    <a id="nav-toggle" href="#">&#9776;</a>
    <ul id="nav-list">
        <li id="Logo"> <img src="/assets/web-logo.png" height="42" width="42"> </li>
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/search"> Search </a> </li>
        <li> <a href="/user"> Profile </a> </li>
    </ul>

    <div id="quick-search">
        <form>
            <input id="header-search" type="text" placeholder="Search..">
        </form>
    </div>

    <button id="logout-button"> Log Out </button>
</nav>
