<!DOCTYPE html>
    <head>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <meta charset="UTF-8">
        <meta name="author" content="Team10CourtBooking">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Booking Page</title>
        <link rel="stylesheet" href="css/confirmation.css">
    </head>

    <body>
        <section>
            <h3>You've successfully booked:</h3>
            <p id="confirmcourtname">Court A</p>
            <p id="confirmdate">Date:</p>
            <p id="confirmstart">Start Time:</p>
            <p id="confirmend">End Time:</p>
            <p id="userid">Userid:</p>
        </section>
    <form>
        <button id="back" formaction="booking.html">Back</button>
    </form>
    </body>
</html>
