<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSC309 A1</title>
    <link rel="stylesheet" href="css/court_page.css">
    <link rel="stylesheet" href="css/common.css">
    <% include partials/head %>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <% include partials/court.ejs %>

    <div>
        <% include partials/login %>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="js/court_page.js"></script>
</body>

</html>
