* {
  font-family: cursive;
}
#courtCarousel img {
  width: 100%;
  margin: auto;
}



#output {
  width: 100%;
}

table, td {
    width: 80%;
    border-spacing: 10px;
    text-align: center;
}

#th {
  text-align: center;
}

h2{
    background-color: black;
    color: white;
    margin: 0px;
  }
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 1000px) {

    #courtCarousel img {
      width: 1000px;
    }
}
